[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
werkzeug = "==2.0.2"
sqlalchemy = "==1.4.23"
pillow = "*"
itsdangerous = "==2.0.1"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.9"
